button {
    cursor: pointer;
    margin-top: 0.8em;
    padding-top: 0.1em;
    line-height: 1.75em;
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
    border-style: solid;
    border-color: var(--vscode-button-border);
    border-radius: 2px;
    border-width: 1px;
}

.center {
    text-align: center;
    position: absolute;
    top: 35%;
    width: 80%;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}
